{% extends 'base.html' %}


{% block content %}
<section class="tiles">
    {% for article in articles %}
    <article class="{{ article.style }}">
        <span class="image">
            <img src="{{ article.image }}" alt="{{ article.title }}" />
        </span>
        <a href="{{ article.url }}">
            <h2>{{ article.title }}</h2>
            <div class="content">
                <p>{{ article.description }}</p>
            </div>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %}
